---
import { Home, Briefcase, FileText, AtSign } from "react-feather";
import Tooltips from "@julian_cataldo/astro-tooltips/Tooltips.astro";
import DarkModeButton from "./reactComponents/DarkModeButton";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<style>
  #logo.dark {
    filter: brightness(10);
  }
</style>

<header
  class="flex md:pt-10 md:w-20 md:sticky md:top-0 md:left-0 md:h-screen md:flex-col md:justify-between border-r border-black/5 dark:border-white/5"
>
  <figure class="flex justify-center mt-2 hidden md:flex">
    <img id="logo" class="h-10 dark" src="/logo.svg" alt="BeCodie Logo" />
  </figure>
  <nav>
    <ul
      class="flex flex-row justify-around items-center fixed bottom-0 py-4 px-3 text-sm font-medium tracking tight w-full md:flex-col md:relative md:space-y-4 z-50 bg-white dark:bg-black border-t border-black/5 dark:border-white/5 md:border-0"
    >
      <li class={currentPath === "" ? "opacity-100" : "opacity-50"}>
        <a
          href="/"
          class="flex flex-col items-center justify-center py-0 md:py-4 text-black dark:text-white"
          title="Home"
          ><Home />
          <span class="mt-1 text-xs uppercase block md:hidden">Home</span>
        </a>
      </li>
      <li class={currentPath === "projects/" ? "opacity-100" : "opacity-50"}>
        <a
          href="/projects/"
          class="flex flex-col items-center justify-center py-0 md:py-4 text-black dark:text-white"
          title="Projects"
          ><Briefcase />
          <span class="mt-1 text-xs font-normal uppercase block md:hidden">Projects</span>
        </a>
      </li>
      <li class={currentPath === "writings/" ? "opacity-100" : "opacity-50"}>
        <a
          href="/writings/"
          class="flex flex-col items-center justify-center py-0 md:py-4 text-black dark:text-white"
          title="Writings"
          ><FileText />
          <span class="mt-1 text-xs font-normal uppercase block md:hidden">Writings</span>
        </a>
      </li>
      <li class={currentPath === "contact/" ? "opacity-100" : "opacity-50"}>
        <a
          href="/contact/"
          class="flex flex-col items-center justify-center py-0 md:py-4 text-black dark:text-white"
          title="Contact"
          ><AtSign />
          <span class="mt-1 text-xs font-normal uppercase block md:hidden">Contact</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="absolute top-6 right-0 z-10 md:static">
    <DarkModeButton client:load />
  </div>
</header>
