---
const imgSrc = "/ashish.jpg";
---

<div class="grid gap-4">
  <section class="relative w-full animate-fade">
    <div class="flex items-center space-x-4">
      <div class="h-14 w-14 rounded-full">
        <figure class="rounded-full overflow-hidden">
          <img src={imgSrc} alt="Profile Picture" />
        </figure>
      </div>
      <div>
        <strong class="text-xl leading-none text-black dark:text-white">
          Ashish Chauhan
        </strong>
        <div class="flex space-x-3 text-sm text-black dark:text-white">
          <a href="https://www.linkedin.com/in/becodie/" target="_blank" class="md:hover:underline">Linkedin</a>
          <a href="https://www.instagram.com/becodie/" target="_blank" class="md:hover:underline">Instagram</a>
          <a href="https://www.behance.net/BeCodie/" target="_blank" class="md:hover:underline">Behance</a>
        </div>
      </div>
    </div>
  </section>
  
  <div class="border-t border-black/5 pt-2 dark:border-white/5">
    <strong
      class="text-xs mb-2 block font-normal text-black/70 uppercase dark:text-white/70"
    >
      Current Stack
    </strong>
    <div class="text-sm">
      <span
        class="py-1 px-2 rounded-md text-black/70 bg-black/5 inline-block mr-1 mb-2 dark:text-white/70 dark:bg-white/5"
      >
        Next Js
      </span>
      <span
        class="py-1 px-2 rounded-md text-black/70 bg-black/5 inline-block mr-1 mb-2 dark:text-white/70 dark:bg-white/5"
      >
        React Js
      </span>
      <span
        class="py-1 px-2 rounded-md text-black/70 bg-black/5 inline-block mr-1 mb-2 dark:text-white/70 dark:bg-white/5"
      >
        Astro Js
      </span>
      <span
        class="py-1 px-2 rounded-md text-black/70 bg-black/5 inline-block mr-1 mb-2 dark:text-white/70 dark:bg-white/5"
      >
        TailwindCSS
      </span>
      <span
        class="py-1 px-2 rounded-md text-black/70 bg-black/5 inline-block mr-1 mb-2 dark:text-white/70 dark:bg-white/5"
      >
        Angular
      </span>
      <span
        class="py-1 px-2 rounded-md text-black/70 bg-black/5 inline-block mr-1 mb-2 dark:text-white/70 dark:bg-white/5"
      >
        Bootstrap
      </span>
    </div>
  </div>
</div>


